Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.db
Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.db-shm
Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.db-wal
Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.db
Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.opendb
/Bootleg Project/.vs/Bootleg Project/FileContentIndex/5663d684-3ee3-40ee-b0b2-5f6b775a07cf.vsidx
/Bootleg Project/.vs/Bootleg Project/FileContentIndex/cb722ad3-e9ba-4241-b832-80d68b6045cb.vsidx
/Bootleg Project/.vs/Bootleg Project/FileContentIndex/4f6c41a5-5867-42ac-9206-42aab18fe901.vsidx
/Bootleg Project/.vs/Bootleg Project/FileContentIndex/464717ee-5584-4c96-a42d-6565c9518125.vsidx
