Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.db
Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.db-shm
Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.db-wal
Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.db
Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.opendb
