Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.db
Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.db-shm
Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.db-wal
Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.db
Bootleg Project/.vs/Bootleg Project/v17/Browse.VC.opendb
/Bootleg Project/.vs/Bootleg Project/FileContentIndex/5663d684-3ee3-40ee-b0b2-5f6b775a07cf.vsidx
/Bootleg Project/.vs/Bootleg Project/FileContentIndex/cb722ad3-e9ba-4241-b832-80d68b6045cb.vsidx
